.Header {
  text-align: center;
}

.Header a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.Heading {
  text-align: center;
  font-size: 36px;
}

.Content {
  min-height: 600px;
  background-position: center;
  background-size: cover;
  background-image: url("/asset/image/bg/normalls.jpg");
}

.Content__Background--black {
  background-image: url("/asset/image/bg/black.jpg");
}

.Content__Background--red {
  background-image: url("/asset/image/bg/red.jpg");
}

.Content__Background--white {
  background-image: url("/asset/image/bg/white.jpg");
}

.Content__Background--blue {
  background-image: url("/asset/image/bg/blue.jpg");
}

.Content__Background--green {
  background-image: url("/asset/image/bg/green.jpg");
}

.CardList {
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.CardList__Item {
  margin: 25px;
}

.CardList__Item h3 {
  text-align: center;
  background-color: #eee;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0;
}

.CardList__Item div,
.CardList__Item img {
  background-color: rgba(0, 0, 0, 0);
}

.Paginator {
  padding-bottom: 15px;
}

.Paginator a {
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.8);
}

