.Header {
  text-align: center;
}

.Header a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.CardList {
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.CardList__Item {
  margin: 25px;
}

.CardList__Item h3 {
  text-align: center;
  margin: 0;
}

