<hr>

{% set civilizations = craft
    .categories()
    .group('civilization')
    .all() %}

<div class="Footer">
  <h3>カードを探す</h3>

  {% for civ in civilizations %}
    <a href="{{ civ.url }}">{{ civ.title }}</a>
  {% endfor %}

  <form action="{{ url('search') }}">
    <input type="search" name="q" placeholder="カード名など" required>
    <input type="submit" value="検索">
  </form>
</div>
