.Header {
  text-align: center;
  a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }
}

.Content {
  background-position: center;
  background-size: cover;
  background-image: url("/asset/image/bg/normalls.jpg");
  &__Background {
    &--black {
      background-image: url("/asset/image/bg/black.jpg");
    }
    &--red {
      background-image: url("/asset/image/bg/red.jpg");
    }
    &--white {
      background-image: url("/asset/image/bg/white.jpg");
    }
    &--blue {
      background-image: url("/asset/image/bg/blue.jpg");
    }
    &--green {
      background-image: url("/asset/image/bg/green.jpg");
    }
  }
}

.CardList {
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  &__Item {
    margin: 25px;

    h3 {
      text-align: center;
      margin: 0;
    }
  }
}

.Civilization {
  //
}
