<!DOCTYPE html>
<html>
<head>
  <title>Title</title>
</head>
<body>
  <header>
    {% include "component/header" %}
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    {% include "component/footer" %}
  </footer>
</body>
</html>
