<!DOCTYPE html>
<html>
<head>
  <title>Title</title>
  <link rel="stylesheet" href="/asset/css/app.css">
</head>
<body>
  <header>
    {% include "component/header" %}
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    {% include "component/footer" %}
  </footer>

  <script type="text/javascript" src="/asset/js/app.js"></script>
</body>
</html>
