<!DOCTYPE html>
<html>
<head>
  <title>Title</title>
</head>
<body>
  <header>
    Header
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    Footer
  </footer>
</body>
</html>
